.root {}


.quests {
  display: flex;
  flex-direction: column;
  gap: var(--mod);
}

.questsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questsAction {}

.questList {}

.questLink {}
