.show {}

.modal {
  padding: calc(var(--mod) * 4);
  margin-block-start: 5%;
  margin-inline: auto;
  max-width: 800px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: var(--mod);
}

.form {}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--mod);
}

.close {}
.submit {}
