.root {
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: calc(var(--mod) * 4);
  padding-block: var(--mod);
  background-color: aliceblue;
}


.main {
  padding: var(--mod);
}
